/*
Theme Name: RH Huntington Beach
Description: RH Huntington Beach's theme
Version: 0.1
Author: Jeremy Harris
Template: rockharbor
Primary Color: #E58F05
Secondary Color: #F7D614
*/

/*= Primary
-----------------------------------------*/
a,
h1,
.primary,
#global-navigation h1 a,
#submenu li.current-menu-item a,
#submenu a:hover,
.archive-page-link .page-numbers,
.page-link a span.page-numbers,
footer h3,
.flash-message
{
	color: #E58F05;
}

#global-navigation .logo,
#access li a:hover,
#access li.current-menu-item > a,
#access ul li ul li a:hover,
#access ul li ul li.current-menu-item a,
.page-title h1,
#content-title h1,
section header h1,
aside header h1,
.archive-page-link .page-numbers.current,
.page-link .page-numbers,
button,
input[type=submit],
footer .tabs a.selected
{
	background-color: #E58F05;
}

#submenu li.current-menu-item a,
#submenu a:hover,
#submenu ul.children,
.flash-message,
.page-numbers,
time .day,
input:focus,
textarea:focus,
select:focus
{
	border-color: #E58F05;
}

.mejs-controls .mejs-time-rail .mejs-time-loaded {
	background: #E58F05;
	background: rgba(229,143,5,0.8);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(229,143,5,0.8)), to(rgba(229,143,5,0.5))); 
	background: -webkit-linear-gradient(top, rgba(229,143,5,0.8), rgba(229,143,5,0.5));
	background: -moz-linear-gradient(top, rgba(229,143,5,0.8), rgba(229,143,5,0.5));
	background: -o-linear-gradient(top, rgba(229,143,5,0.8), rgba(229,143,5,0.5));
	background: -ms-linear-gradient(top, rgba(229,143,5,0.8), rgba(229,143,5,0.5));
	background: linear-gradient(rgba(229,143,5,0.8), rgba(229,143,5,0.5));
}

.mejs-overlay-button {
	background-color: #E58F05;
}

/*= Secondary
-----------------------------------------*/
.secondary,
button,
input[type=submit] 
{
	color: #F7D614;
}

#global-navigation h1 a,
.story-box
{
	background-color: #F7D614;
}

button,
input[type=submit],
.fc-event-time, 
.fc-event-title 
{
	border-color: #F7D614;
}